.hero-container {
   // display: flex;
    max-height: 500px;
    width:100%;

    .hero-wrapper {
        padding: 80px;
        display: flex;
        align-items: center;

        .text-box {
            flex: 1;

            .sub-heading {
                font-size: 1.65rem;

                span{
                    color:rgb(111, 145, 56);
                }
            }

            .heading {

                font-size:1.5rem;
                text-transform: uppercase;
                font-weight:700 !important;
                line-height: 1rem;

            }

            .description{
                p{
                    font-size: 0.8rem;
                }
            }

            .learn-more{
                .button{
                    display:flex;
                    align-items: center;
                    width:fit-content;
                    background-color: black;
                    height:40px;
                    padding:0 30px;
                    border-radius: 20px;
                    color:white;
                    text-decoration: none;
                }
            }
        }

        .image {
            display: flex;
            flex: 1;
            justify-content: center;
           
        }
    }
}